MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=tpops
MYSQL_USER=tpops
MYSQL_PASSWORD=change-me

SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/tpops?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
SPRING_DATASOURCE_USERNAME=tpops
SPRING_DATASOURCE_PASSWORD=change-me

TPOPS_ELASTICSEARCH_ENDPOINT=https://example.es.asia-northeast3.gcp.elastic-cloud.com
TPOPS_ELASTICSEARCH_API_KEY=change-me
TPOPS_ELASTICSEARCH_INDEX_NAME=tp-svclog-test
TPOPS_ELASTICSEARCH_TIMESTAMP_FIELD=@timestamp
TPOPS_ELASTICSEARCH_SERVICE_NAME_FIELD=tp_svc_id
TPOPS_ELASTICSEARCH_RESPONSE_TIME_FIELD=tp_resp_time
TPOPS_ELASTICSEARCH_SERVICE_BUCKET_SIZE=10000
